// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Primary Colors
$primary-color-1: #CC1903;
$primary-color-2: #FFFFFF;
$primary-color-3: #D4D6D5;

// CRUD Action Colors
$crud-create: #62C370; // Success - Green
$crud-read: #596cee;   // Info - Blue
$crud-update: #eecd60; // Warning - Yellow
$crud-delete: #D62246; // Danger - Red

// Optional: Text Colors
$text-color-primary: #000000;
$text-color-secondary: #666666;